<div class="app-container">
  <app-header *ngIf="showHeaderFooter" (toggleSidebar)="toggleSidebar()"></app-header>

  <mat-sidenav-container class="sidenav-container" [ngClass]="{'auth-container': !showHeaderFooter}">
    <mat-sidenav mode="side" [opened]="isLoggedIn && sidebarOpen && showHeaderFooter" class="sidenav">
      <app-sidebar></app-sidebar>
    </mat-sidenav>
    
    <mat-sidenav-content class="content">
      <div class="content-wrapper">
        <router-outlet></router-outlet>
      </div>
      
      <app-footer *ngIf="showHeaderFooter"></app-footer>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>